/*reset styles*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}

body {
  font-family: Helvetica sans-serif;
 }


 h1, 
 h2,
 h3 {
  margin: 0.5rem 0;
 }

h1 {
  /* font-size: 1.5rem; */
  font-size: 150%;
}

h2 {
  /* font-size: 1.2rem; */
  font-size: 120%;
}

h3 {
  font-size: 100%;
}

a {
  text-decoration: none;
}

.row {
  display: flex;
  justify-content: space-between;
}

.column-1 {
  flex: 1;
}

.column-2 {
  flex: 2;
}

.block {
  background-color: grey;
  padding: 1%;
  margin: 0.5rem;
  border-radius: 0.5rem;
 
}

.block a {
  color: black;
}

.row.center {
  align-items: center;
}

img.small {
  width: 9rem;
  height: 9rem;
  object-fit: cover;
}

button {
  font-size: 80%;
  padding: 2%;
  margin: 0.1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid black;
  background-color: burlywood;
  width: 100%;
  cursor: pointer;
}

button.add {
  background-color: aqua;;
  width: 1.5rem;
}

button.remove {
  background-color: red;
  width: 1.5rem;
}

button.badge {
  background-color: red;
  border: none;
  color: white;
  width: 1.5rem;
}

.text-right {
  text-align: right;
}

a.yt-link {
  font-style: italic;
  color: burlywood;
  cursor: pointer;
  font-size: 110%;
}

a.yt-link:hover {
  color: teal;
}

.basket-titles {
  padding: 1% 0%;
}
